{% extends 'login/base.html' %}

{% block content %}
<div class="page-header">
   <h1>Main Page of student data</h1>
</div>

<div>
    <div>
        <a href="{% url 'childadd' %}"> Add a Child</a>
    </div>
    <div>
        <a href="{% url 'parentadd' %}"> Add a parent</a>
    
    </div>
    <div>
        <a href="{% url 'parentlist' %}"> View All Parents</a>
    </div>
    <div>
        <a href="{% url 'childlist' %}"> View All Children</a>
    </div>
    <div>
        <a href="{% url 'logout' %}"> Logout </a>
    </div>

</div>
{% endblock %}